<div fxLayout="column" fxLayout.xs="column" style="padding:15px;">
  <h1 style="text-align:center;"><img src="../../../assets/secret_santa_logo.png" /></h1>
  <mat-card class="info">
    <div style="padding:15px;">

      <h3>Instructions</h3>
      <span>
        The application is as simple as "A B C"<br />
        Just Follow the steps to get a list of Santas and their Reciepents<br />
      </span>
      <br />
      <ul>
        <li><b>Step 1</b> : Add the participants filling up First Name, Last Name and Email(so we don't mess up with same names !) the simple form on <b>Add Participant</b> Page</li>
        <li><b>Step 2</b> : While filling up the form make sure to select the <b>Group</b>, If you find one in the list select it or you can just write and a new Group will be created, Make sure to select Individual if you don't belong to any specific group.</li>
        <li><b>Step 3</b> : Finally Click on <b>Reveal Secret Santa</b> in the revel secret santa page and you will have a list with who is going to gift whom.</li>
      </ul>

      <h2>Happy Holidays!</h2>

    </div>
  </mat-card>
</div>
